upper: $name/uppercase$
lower: $name/lowercase$
chain: $name/uppercase/reverse$
length: $items/length$
reverse: $word/reverse$
first: $items/first$
last: $items/last$
rest: $items/rest$
allbutlast: $items/allbutlast$
alpha: $three/alpha$
roman: $nine/roman$
